## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [116]:
# Import
import pandas as pd
import os

In [117]:
pwd

'/Users/ArashPeimani/Documents/Flatiron_Bootcamp/Mod1/Final_Project/Movie_Project'

In [118]:
from glob import glob

In [119]:
csv_files = glob('./zippedData/*.csv.gz')
csv_files

['./zippedData/imdb.title.crew.csv.gz',
 './zippedData/tmdb.movies.csv.gz',
 './zippedData/imdb.title.akas.csv.gz',
 './zippedData/imdb.title.ratings.csv.gz',
 './zippedData/imdb.name.basics.csv.gz',
 './zippedData/imdb.title.basics.csv.gz',
 './zippedData/tn.movie_budgets.csv.gz',
 './zippedData/bom.movie_gross.csv.gz',
 './zippedData/imdb.title.principals.csv.gz']

In [120]:
type(csv_files) #what type of files are they

list

In [121]:
#get the data frame from the files
d = {}

In [122]:
for file in csv_files:
    d[file] = pd.read_csv(file)

In [123]:
d.keys()

dict_keys(['./zippedData/imdb.title.crew.csv.gz', './zippedData/tmdb.movies.csv.gz', './zippedData/imdb.title.akas.csv.gz', './zippedData/imdb.title.ratings.csv.gz', './zippedData/imdb.name.basics.csv.gz', './zippedData/imdb.title.basics.csv.gz', './zippedData/tn.movie_budgets.csv.gz', './zippedData/bom.movie_gross.csv.gz', './zippedData/imdb.title.principals.csv.gz'])

In [124]:
# a for loop to clean up the key data for legibility
csv_files_dict = {}
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace('.csv', '').replace('.', '_')
    filename_df = pd.read_csv(filename, index_col=0)
    csv_files_dict[filename_cleaned] = filename_df

In [125]:
csv_files_dict.keys() #show the cleaned up filenames

dict_keys(['imdb_title_crew_gz', 'tmdb_movies_gz', 'imdb_title_akas_gz', 'imdb_title_ratings_gz', 'imdb_name_basics_gz', 'imdb_title_basics_gz', 'tn_movie_budgets_gz', 'bom_movie_gross_gz', 'imdb_title_principals_gz'])

In [126]:
# create dataframes out of each file
title_crew_df = csv_files_dict['imdb_title_crew_gz']
movies_df = csv_files_dict['tmdb_movies_gz']
title_akas_df = csv_files_dict['imdb_title_akas_gz']
title_ratings_df = csv_files_dict['imdb_title_ratings_gz']
name_basics_df = csv_files_dict['imdb_name_basics_gz']
title_basics_df = csv_files_dict['imdb_title_basics_gz']
movie_budgets_df = csv_files_dict['tn_movie_budgets_gz']
movie_gross_df = csv_files_dict['bom_movie_gross_gz']
title_principals_df = csv_files_dict['imdb_title_principals_gz']

In [127]:
sorted(list(title_crew_df))

['directors', 'writers']

In [128]:
sorted(list(movies_df))

['genre_ids',
 'id',
 'original_language',
 'original_title',
 'popularity',
 'release_date',
 'title',
 'vote_average',
 'vote_count']

In [129]:
sorted(list(title_akas_df))

['attributes',
 'is_original_title',
 'language',
 'ordering',
 'region',
 'title',
 'types']

In [130]:
sorted(list(title_ratings_df))

['averagerating', 'numvotes']

In [131]:
sorted(list(name_basics_df))

['birth_year',
 'death_year',
 'known_for_titles',
 'primary_name',
 'primary_profession']

In [147]:
sorted(list(title_basics_df))
title_basics_df.head()

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [133]:
sorted(list(movie_budgets_df))

['domestic_gross',
 'movie',
 'production_budget',
 'release_date',
 'worldwide_gross']

In [134]:
sorted(list(movie_gross_df))

['domestic_gross', 'foreign_gross', 'studio', 'year']

In [135]:
sorted(list(title_principals_df))

['category', 'characters', 'job', 'nconst', 'ordering']

In [136]:
#------- All the data is imported -------------

In [137]:
name_basics_df.info()
name_basics_df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 606648 entries, nm0061671 to nm9993380
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   primary_name        606648 non-null  object
 1   birth_year          82736 non-null   float64
 2   death_year          6783 non-null    float64
 3   primary_profession  555308 non-null  object
 4   known_for_titles    576444 non-null  object
dtypes: float64(2), object(3)
memory usage: 27.8+ MB

,primary_name,birth_year,death_year,primary_profession,known_for_titles
nconst,,,,,
nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [138]:
#drop the column birth year from the name_basics data frame
name_basics_df.drop(['birth_year'], axis=1)

,primary_name,death_year,primary_profession,known_for_titles
nconst,,,,
nm0061671,Mary Ellen Bauder,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
nm0061865,Joseph Bauer,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
nm0062070,Bruce Baum,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
nm0062195,Axel Baumann,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
nm0062798,Pete Baxter,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
...,...,...,...,...
nm9990381,Susan Grobes,NaN,actress,NaN
nm9990690,Joo Yeon So,NaN,actress,"tt9090932,tt8737130"
nm9991320,Madeline Smith,NaN,actress,"tt8734436,tt9615610"
nm9991786,Michelle Modigliani,NaN,producer,NaN
nm9993380,Pegasus Envoyé,NaN,"director,actor,writer",tt8743182

In [139]:
name_basics_df = name_basics_df.sort_values(by ='death_year' )
name_basics_df.head(500)

,primary_name,birth_year,death_year,primary_profession,known_for_titles
nconst,,,,,
nm0653992,Ovid,NaN,17.0,writer,"tt3179572,tt0057818,tt0085182,tt3907210"
nm0613556,Shikibu Murasaki,973.0,1031.0,writer,"tt0092875,tt0043580,tt0094100,tt0256385"
nm0019604,Dante Alighieri,1265.0,1321.0,"writer,soundtrack","tt1874782,tt7370578,tt1598441,tt1118686"
nm0090504,Giovanni Boccaccio,1313.0,1375.0,writer,"tt0045675,tt0068832,tt0158510,tt5666304"
nm1063158,Cheng'en Wu,1506.0,1581.0,writer,"tt1163129,tt6168860,tt0112778,tt1753783"
...,...,...,...,...,...
nm0487292,Mario Lanza,1921.0,1959.0,"soundtrack,actor","tt0049737,tt0043599,tt0110005,tt0052817"
nm0001124,Cecil B. DeMille,1881.0,1959.0,"producer,director,editor","tt0043014,tt0041838,tt0049833,tt0044672"
nm0080164,M.K. Thyagaraja Bhagavathar,1909.0,1959.0,"actor,director","tt0214470,tt0157332,tt0155977,tt0254667"
nm0248291,Maude Eburne,1875.0,1960.0,"actress,soundtrack","tt0035446,tt0029009,tt0024727,tt0020668"
nm0000022,Clark Gable,1901.0,1960.0,"actor,soundtrack,producer","tt0052278,tt0026752,tt0031381,tt0025316"

In [140]:
#To maximize budget, lowest cost movie to make which are high grossing. 
#How can we replicate this? Is it based on genre, date of release, etc.?

# Need to clean Movie_budgets and Title_basics

movie_budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie              5782 non-null   object
 2   production_budget  5782 non-null   object
 3   domestic_gross     5782 non-null   object
 4   worldwide_gross    5782 non-null   object
dtypes: object(5)
memory usage: 271.0+ KB

In [141]:
title_basics_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146144 entries, tt0063540 to tt9916754
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   primary_title    146144 non-null  object
 1   original_title   146123 non-null  object
 2   start_year       146144 non-null  int64
 3   runtime_minutes  114405 non-null  float64
 4   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 6.7+ MB

In [146]:
title_basics_df['genres'].unique()

array(['Action,Crime,Drama', 'Biography,Drama', 'Drama', ...,
       'Music,Musical,Reality-TV', 'Animation,Crime',
       'Adventure,History,War'], dtype=object)

In [151]:
title_basics_df['genres'].str.split(expand=True)

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [145]:
# Use the keep=first to return the duplicates and keep the first occurence.
# title_basics_df.drop_duplicates()

In [143]:
#remove duplicates
# title_basics_df = title_basics_df[title_basics_df.duplicated()]

#recheck for duplicates
# duplicateTitleDF = title_basics_df[title_basics_df.duplicated(keep='first')]
# print(duplicateTitleDF)

In [144]:
# duplicateTitleDF.drop_duplcates(subset = none, inplace = True)
# print(duplicateTitleDF)